$font-text-one: 'Comfortaa', sans-serif;
$font-text-two: 'Roboto', sans-serif;

/* Global */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

body {
	position: relative;
    margin: 0px;
    // background-color: antiquewhite;
    }

.container {
	max-width: 1140px;
	padding: 0 20px;
	text-align: center;
	margin: 0 auto; 
	// border: 5px solid#000000;
}

/*  Header */ 
.header {
    background-image: url("https://images.pexels.com/photos/1695052/pexels-photo-1695052.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    // border: 3px solid red;
    height: 60vh;
    h1 {
        font-family: $font-text-one;
        font-size: 70px;
        color: white;
        flex-grow: 2.5; 
        text-align: left;   
    }
    .container {
        display: flex;
        align-items: baseline;
    }
    .menu {
        // border: 3px solid blue;
        display: flex;
        flex-grow: 3;
        margin-top: 60px;
    }
    .box-first {
        // border: 3px solid rgb(255, 0, 119);
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        list-style-type: none;
    }
    .menu-first {
        display: inline-block;
        position: relative;
        > a {
            font-family: $font-text-two;
            font-size: 30px;
            text-decoration: none;
            color: white;
        }
        &:hover {
            .box-second {
                display: block;
            }
        }
    }
    .box-second {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        margin: 0;
        margin-top: 30px;
        padding: 0;
        list-style-type: none;
    }
    .menu-drop {
        color: aqua;
        > a {
            font-family: $font-text-two;
            font-size: 20px;
            text-decoration: none;
            color: white;
            line-height: 2em;
        }
    }
    .text-midle {
        // border: 3px solid yellow;
        position: absolute;
		// margin-top: 30%;
		// line-height:1.5em;
        top: 12%;
        left: 50%;
        transform: translate(-50%);
        color: white;
        text-align: center;
		h2 {
			font-size: 35px;
		}
		p {
			margin: 5px 0 10px 0;
			font-size: 10px;
		}
		.btn {
			font-size: 25px;
			padding: 5px 15px;
            background: none;
            color:rgb(255, 255, 255);
            border: 3px solid rgb(250, 250, 250);
            border-radius: 25px;
            margin-top: 10px;
            &:hover{
                color: rgb(226, 222, 3);
                border: 2px solid rgb(226, 222, 3);
                background-color: white;
            }
		}
	}
    
}

/* Services */
.services {  
	// border: 3px solid blue;
    h2 {
        text-align: center;
        font-family: $font-text-one;
        padding: 0px;
        font-size: 40px;
        margin-top: 20px;
    }
    p {
        text-align: center;
        font-family: $font-text-two;
        margin-bottom: 20px;
    }
    .box {    
        display: flex;
        justify-content: space-evenly;
        // border: 3px solid red;
            .column {
            margin-top: 40px;
            // border: 3px solid rgb(17, 52, 168);
            i {
                font-size: 60px;
                border: 3px solid rgb(112, 111, 20);
                background-color: rgb(255, 255, 255);
                color: rgb(112, 111, 20);
                padding: 20px;
                border-radius: 50%;
                &:hover {
                    color: rgb(255, 255, 255); 
                    background-color: rgb(112, 111, 20);
                }
            }
        }
    }
}

/* Our products */
.products {
    background-color: bisque;
    // border: 3px solid blue;
    h2 {
        text-align: center;
        font-family: $font-text-one;
        padding: 0px;
        font-size: 40px;
        padding-top: 40px ;
    }
    p {
        text-align: center;
        font-family: $font-text-two;
        margin-bottom: 20px;
    }
    .row-prod {
        display: flex;
        justify-content: space-between;
        // border: 3px solid red;
        // background-color: rgb(196, 111, 111);    
    }
    .box-prod {
        max-width: 33.33%;;
        flex-grow: 1;
        padding: 20px;
        // border: 3px solid rgb(4, 150, 29);
        // background-color: rgb(123, 175, 123);
    }
    .text-prod {
        background-color: white;
        // border: 3px solid rgb(60, 8, 143);
        // background-color: rgb(142, 139, 189);
    }
    .image-prod {
        padding-top: 0px;
        // border: 3px solid rgb(139, 163, 0);
        // background-color: rgb(178, 189, 139);
        img {
            width: 100%;
            height: 400px;
        }
    }
}

/* Footer */
.footer {
	text-align: center;
	list-style-type: none;
	margin: 0;
    .row-footer {
        display: flex;
        justify-content: center;
        list-style-type: none;
        i {
            font-size: 40px;
            list-style-type: none;
            color:rgb(150, 147, 5) ;
            padding: 20px;
        }
    }

}
